

body {
    background: #fff
    padding-top: 20px;
}

table {
    margin-top: 20px;
}


.badge {
    font-size: 0.8rem;
    padding: 6px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.green {
    color: #fff;
    background-color: #28a745; 
}

.yellow {
    color: #fff;
    background-color: #feff00 !important;
}

.red {
    color: #fff;
    background-color: #dc3545;
}

.div-card-content {
    height: 281px;
}

.card-title {
    font-weight: bold;
}

.nav-wrapper {
    background: linear-gradient(94deg, rgba(5, 75, 140, 1) 0%, rgb(86, 182, 227) -1%, rgba(5, 75, 140, 1) 70%);
}